<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <a href="/create">create</a>
    </div>
    <div>
      <table>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>url</th>
          <th>storeId</th>
          <th>price</th>
          <th>bannerImg</th>
          <th>tbnailImg</th>
          <th>delete</th>
        </tr>
        <tr>
          <td>1</td>
          <td>productOne</td>
          <td>1</td>
          <td>set other price too</td>
          <td>banner img src</td>
          <td>tbnail img src</td>
          <td><button> X </button></td>
        </tr>
        <!-- <tr>
          <td><%=dealData[0].id%></td>
          <td><%=dealData[0].name%></td>
          <td><%=dealData[0].url%></td>
          <td>1</td>
          <td><%=dealData[0].price%></td>
          <td><%=dealData[0].img.tbnail.src%></td>
          <td><button> X </button></td>
        </tr> -->
      </table>
    </div>
  </body>
</html>
